# GAN-PPO-AMBTC C project config
block_size=4
image_w=512
image_h=512
epochs=200
batch_size=8
target_bpp=0.4
ppo_clip_eps=0.2
gae_lambda=0.95
gamma=0.99
lr_actor=0.0003
lr_critic=0.0003
lr_generator=0.0001
lr_discriminator=0.0004
d_updates_per_g=4
dqn_replay_capacity=10000
dqn_tau=0.005
lambda_payload=1.0
lambda_distortion=0.4
lambda_security=0.6
lambda_budget=0.1
